.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

body {
    background-color: #bfcab4bd;
}

.outer {
    width: 95%;
    /* height: auto; */
    /* overflow: auto; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 50px;
}

.col {
    float: left;
    margin: 10px;
    margin-bottom: 50px;
    padding: 10px;
    background-color: white;
    box-shadow: 3px 3px 3px 3px #ccc;
}

h2 {
    text-align: center;
}

.chart {
    width: 800px;
}

.graphic {
    width: 250px;
    float: left;
}

.graphic rect {
    display: none;
}

p {
    margin: 0px;
    padding-left: 20px;
}

input {
    width: 50px;
}

.dropdown {
    padding-left: 20px;
}

#soflow {
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    padding: 2px;
    font-weight: 600;
    border-radius: 6px;
}

.App-header {
    background-color: #6f9580;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}